# Build and Release Folders
log
cropped_image.png
threshold_image.png
tmp.spec
debug_images/
__MACOSX/
publish/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
build
dist
log.txt
cropped_image.png


# Executables
*.swf
*.air
*.ipa
*.apk

**/__pycache__/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
